<template>
    <div v-editable="blok" class="landing-banner">
        <img class="landing-banner_img" :src="blok.image" alt="">
    </div>
</template>

<script>
export default {
    props: ['blok']
}
</script>

<style lang="scss">
    .landing-banner {
        margin-top: 10px;
        background: #edeae3;
        &_img {
            width: 100%;
        }
    }
</style>

