<template>
    <div v-editable="blok" class="landing-footer util__textcenter">
        <img class="landing-footer_img" :src="blok.qr" alt="">

        <p class="landing-footer_p1">{{ blok.description }}</p>
        <p class="landing-footer_p2">{{ blok.right }} </p>

        <a class="landing-footer_policy" :href="blok.policy">{{ blok.policy_text }} </a>
    </div>
</template>

<script>
export default {
    props: ['blok']
}
</script>

<style lang="scss">
    .landing-footer {
        padding: 35px;
        padding-bottom: 50px;
        background: #000;
        color: #fff;

        &_img {
            margin-bottom: 15px;
        }

        &_p1 {
            line-height: 1.4;
        }

        &_policy {
            color: #fff;
        }
    }
</style>
