<template>
    <div v-editable="blok" class="landing-logo">
        <img class="landing-logo_main" src="http://cnce1m.ef-cdn.com/_imgs/englishfirst/landing/summer18/image/ef_logo_black.png" alt="">
        <a class="landing-logo_call" :href="'tel:' + blok.phone ">
            <img class="landing-logo_phone" src="//cnce1m.ef-cdn.com/_imgs/englishfirst/landing/summer18/image/call_black.png" alt="">
            <span>{{ blok.phone }}</span> 
        </a>
    </div>
</template>

<script>
export default {
    props: ['blok']
}
</script>

<style lang="scss">
    .landing-logo {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;

        &_main {
            max-width: 50%;
        }
        &_call {
            float: right;
            color: #000;
            img {
                height: 24px;
            }
            span {
                font-size: 20px;
                margin-left: 5px;
            }
        }
    }
</style>

