<template>
    <div v-editable="blok" class="landing-register">
        <h3 class="util__textcenter">{{ blok.title }}</h3>
        <img class="landing-register_img" src="//cnce1m.ef-cdn.com/_imgs/englishfirst/landing/summer18/image/gift.gif" alt="gift">
        <div>
            <p>{{ blok.description_a }}</p>
            <p>{{ blok.description_b }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['blok']
}
</script>

<style lang="scss">
    .landing-register {
        background: #edeae3;
        overflow: hidden;
        padding-bottom: 40px;

        &_img {
            float: left;
            margin-right: 20px;
            width: 20%;
            padding-left: 5%;
        }

    }
</style>
