<template>
    <div v-editable="blok" class="landing-school">
        <h3 class="util__textcenter">{{ blok.title }}</h3>
        <component :key="blok._uid" v-for="blok in blok.story" :blok="blok" :is="blok.component"></component>

        <h3 class="util__textcenter">{{ blok.more_description}}</h3>
        <div class="util__textcenter">
            <p>{{ blok.desc_1 }}</p>
            <p>{{ blok.desc_2 }}</p>
            <p>{{ blok.desc_3 }}</p>
        </div>
        <div>
            <img class="landing-school_bottomimg" src="http://cnce1m.ef-cdn.com/_imgs/englishfirst/landing/summer18/image/summer18_own_mobile_bg.png" alt="">
        </div>
    </div>
</template>

<script>
export default {
    props: ['blok']
}
</script>

<style lang="scss">
    .landing-school {
        padding-bottom: 30px;
        &_bottomimg {
            width: 100%;
        }
    }
</style>

