<template>
    <div v-editable="blok" class="landing-story">
        <img class="landing-story_img" :src="blok.video" alt="">
        <div class="landing-story_desc">
            <h3>{{ blok.title }}</h3>
            <p>{{ blok.description }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['blok']
}
</script>

<style lang="scss">
    .landing-story {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15px;
        background: #f5f5f5;
        &_img {
            width: 100%;
        }
        &_desc {
            padding: 10px;
        }

    }
</style>
